<div>
    <h2 data-translate="translatorApp.release.home.title">Releases</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="release.new({projectId: vm.project.id})" ng-if="vm.showNewReleaseButton()">
                   Neues Release anlegen
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <tbody>
                <tr ng-repeat="release in vm.releases track by release.id">
                    <td><a ui-sref="release-detail({id:release.id, projectId:release.project.id})">{{release.name}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
