
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTranslationLabel" data-translate="translatorApp.translation.home.createOrEditLabel">Create or edit a Translation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.translation.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.translation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="translatorApp.translation.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                    ng-model="vm.translation.text"
                    required />
            <div ng-show="editForm.text.$invalid">
                <p class="help-block"
                    ng-show="editForm.text.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="translatorApp.translation.deleted" for="field_deleted">Deleted</label>
            <input type="checkbox" class="form-control" name="deleted" id="field_deleted"
                    ng-model="vm.translation.deleted"
                     />
            <div ng-show="editForm.deleted.$invalid">
                <p class="help-block"
                    ng-show="editForm.deleted.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="translatorApp.translation.updatedAt" for="field_updatedAt">Updated At</label>
                <div class="input-group">
                    <input id="field_updatedAt" type="text" class="form-control" name="updatedAt" datetime-picker="{{dateformat}}" ng-model="vm.translation.updatedAt" is-open="vm.datePickerOpenStatus.updatedAt"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('updatedAt')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.updatedAt.$invalid">
                <p class="help-block"
                    ng-show="editForm.updatedAt.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.updatedAt.$error.ZonedDateTimelocal" data-translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="translatorApp.translation.language" for="field_language">Language</label>
            <select class="form-control" id="field_language" multiple name="language" ng-model="vm.translation.languages" ng-options="language as language.name for language in vm.languages track by language.id"></select>
        </div>
        <div class="form-group">
            <label data-translate="translatorApp.translation.definition" for="field_definition">Definition</label>
            <select class="form-control" id="field_definition" name="definition" ng-model="vm.translation.definition" ng-options="definition as definition.label for definition in vm.definitions track by definition.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
